@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto+Mono:400,700i|ZCOOL+QingKe+HuangYou&display=swap');
*{
	margin: 0;
	pading:0;
}

#before{
	background: #EFF0F2;
}

.backimage{
	margin-top: 63px;
	width:100%;
	position: relative;
}
.original{
	margin-bottom: 80px;
	margin-left: 500px;
	
}
.originalcn{
	margin-bottom: 80px;
	margin-left: 560px;
	
}
.original-link{
	text-decoration: none;
	font-size: 20px;
	font-family: 'RobotoMono-Regular',sans-serif;
	background: #fff;
	padding: 10px 20px;
	color:#2C2825;
	border-radius: 25px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.original-link:hover{
	background-color: #5067EB;
	color: #fff;
}

.open-link{
	text-decoration: none;
	font-size: 20px;
	font-family: 'RobotoMono-Regular',sans-serif;
	background: #fff;
	padding: 10px 20px;
	color:#2C2825;
	border-radius: 25px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}	

.open-link:hover{
	background-color: #5067EB;
	color: #fff;
}

@media (max-width:968px){
	.backimage{
		margin-top: 0px;
	}
	.originalcn{
		width: 300px;
		margin-left: 260px;
		margin-bottom: 100px;
		position: relative;
	}
	
	.original{
		width: 300px;
		margin-left: 300px;
		margin-bottom: 100px;
		position: relative;
	}
	
	.open-link{
	text-decoration: none;
	font-size: 16px;
	font-family: 'RobotoMono-Regular',sans-serif;
	background: #fff;
	padding: 10px 20px;
	color:#2C2825;
	border-radius: 25px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
	position: absolute;
		top:45px;
	
}	
	.original-link{
	text-decoration: none;
	font-size: 16px;
	font-family: 'RobotoMono-Regular',sans-serif;
	background: #fff;
	padding: 10px 20px;
	color:#2C2825;
	border-radius: 25px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
		
}
	
}