@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto+Mono:400,700i|ZCOOL+QingKe+HuangYou&display=swap');
*{
	margin: 0;
	padding: 0;
}
.economy{
	background: #EFF0F2;
}
.economy1{
	width: 100%;
}
.economy2{
	width: 100%;
}
.economy3{

	width: 50%;
	
}
.function{
	margin-left: 150px;
	width: 25%;
}

.economy4{
	margin-top: 60px;
	width:100%;
}
.system-map{
	width: 70%;
	position:relative;
	left:50%;
	transform: translate(-50%);
	margin-bottom: 50px;
}