@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto+Mono:400,700i|ZCOOL+QingKe+HuangYou&display=swap');
.hun{
	background: #EFF0F2;
}

.huns{
	margin-top: 63px;
	width: 100%;
	
}

.video100{
	width: 50%;
	margin-left: 50%;
	transform: translate(-50%);
}
.hundred{
	margin-bottom: 50px;
}

@media (max-width:968px){
	.huns{
		margin-top: 0px;
	}
}