@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto+Mono:400,700i|ZCOOL+QingKe+HuangYou&display=swap');
#load-works{
	display: grid;
	grid-template-columns: 510px 510px;/*设置数，以及每列的宽度*/
	grid-gap:80px;/*间距*/
	justify-content: center;/*居中*/
	margin-bottom: 90px;
}
.work img{
	border: 5px solid #fff;
	height: 282px;
	width: 540px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	
}
.work-description{
	height: 200px;
	width: 510px;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 20px 20px 0 20px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.work-type{
	margin-bottom: 10px;
	color: #5067EB;
	font-size:13px;
	font-family: 'Roboto+Mono',sans-serif;
}
.work-title{
	margin-bottom: 10px;
	color: #2C2825;
	font-family: 'RobotoMono-Regular',sans-serif;
	font-size:25px;
}
.work-des{
	color: #2C2825;
	font-family: 'RobotoMono-Regular',sans-serif;
	font-size:14px;
}

.pic-link{
	display: inline-block;
	color: #5067EB;
	text-decoration: none;
	border: 1px solid #5067EB;
	margin-top: 20px;
	padding: 3px 20px;
	font-family: 'RobotoMono-Blod',sans-serif;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.pic-link:hover{
	background-color: #5067EB;
	color:#fff;
}
