@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto+Mono:400,700i|ZCOOL+QingKe+HuangYou&display=swap');
*{
	margin: 0;
	padding: 0;
}
.home{
	background: #EFF0F2;
	/*背景颜色*/
}
/*整个图片位置*/
.blogs{
	position: absolute;
	top:70px;
	transform: translateY(-50%);
	width: 500px;
	z-index:1;
}
.blog{
	overflow: hidden;
	position: relative;
	height: 100%;
	cursor: pointer;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.blog img{
	width: 100%;
	height: 100%;
	
}

.blog-description{
	position: absolute;
	bottom: -40px;
	background:#F0F4FFca ;/* #F0F4FF在颜色后面加ca 就可以改变透明度 */
	width: 100%;
	padding:40px;
	transition: 0.3s linear;/*字出现方式*/
	
}
/*点字出现*/
.blog:hover .blog-description{
	bottom: 0;
}
/*描述的字体设计*/
.categorie{
	display: inline-block;
	color: #5067EB;
	font-size: 18px;
	position: relative;
	padding: 0 22px;
	font-family: 'RobotoMono',sans-serif;
}

.categorie:before{
	content: '';
	position: absolute;
	width: 14px;
	height: 2px;
	background: #5067EB;
	left: 0;
	top:11px;
}

.categorie:after{
	content: '';
	position: absolute;
	width: 14px;
	height: 2px;
	background: #5067EB;
	right: 0;
	top:11px;
}

.title{
	color: #2C2825;
	font-family: 'RobotoMono-Bold',sans-serif;
	font-weight: 400;
	margin:5px 0;
}

.date{
	font-style: italic;
	color: #5067EB;
	margin-bottom: 20px;
	font-family: 'RobotoMono',sans-serif;
}
.more{
	display: inline-block;
	color: #5067EB;
	text-decoration: none;
	border: 1px solid #5067EB;
	padding: 3px 20px;
	opacity: 0;/*透明度 不显示*/
	transition: 0.3s linear;
	font-family: 'RobotoMono',sans-serif;
}
.blog:hover .more{
	opacity: 1;/*透明度 显示*/
}

.more:hover{
	color: #fff;
	background:  #5067EB;
}

/*这是谁*/
.owl-stage{
	display: flex !important;
}

/*圆点不显示*/
.owl-carousel .owl-item img{
    display: block;
    width:160px;
}

.owl-dots {
    text-align: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127,127,127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.owl-dot.active {
    background: black;
}


@media all and (max-width:968px){
	/*字和图片自适应*/
	.headword{
		width: 250px;
		margin: 90px auto;
	}
	.headword h1{
		font-size:29px
	}
	
	.blog .blog-description{
		font-size: 8px;
	}
	.seebottom{
		display: none;
		}
	.seebottom a{
		display: none;
	}
	
}