@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto+Mono:400,700i|ZCOOL+QingKe+HuangYou&display=swap');
.muji{
	background: #EFF0F2;
}
.muji1{
	width: 100%;
}
.muji2{
	width: 100%;
}
.muji3{
	width: 100%;
}